#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 20px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

textarea {
    width: 85vw;
}